* {
            background-color: lightgrey;
        }
        div {
            border: 1px solid #000;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        p {
            align-self: center;
        }
        img {
            width: 100px;
            height: 100px;
            border: 10x solid #000;
            border-radius: 50px;
        }
        .chat {
            height: 80vh;
            width: 100vw;
            flex-direction: column;
            justify-content: space-between;
        }
        .enviar {
            width: 500px;
        }
